@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
body {
	font-family: "Montserrat","Sawarabi Gothic", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "sans-serif";
	text-align:center;
	color:#423D39;
	background-color: #EBEBEB;
}
header img{
	width:250px;
	margin-top: 10px;
}
header{
	position: sticky;
  	top: 0;
	width: 100%; /* ヘッダーの横幅を指定する */
	height: 120px; /* ヘッダーの高さを指定する */
	background-color: #EBEBEB;
}
#main{
	margin-top: 100px;
}
button{
	margin:20px;
	margin-top: 10px;
	padding:10px;
	padding-right:15px;
	padding-left:15px;
	border-radius:15px;
}

#question {
	width:fit-content;
	display:block;
	border-radius: 10px;
	background-color:#97DE9B;
	border-radius:20px;
	margin-top:50px;
	margin-right: 10%;
  	margin-left: auto;
	padding:8px 20px 8px 20px;
}

#reply {
	width:fit-content;
	display:block;
	border-radius: 10px;
	background-color:white;
	border-radius:20px;
	margin-right: auto;
  	margin-left: 10%;
	padding:5px;
	padding:8px 20px 8px 20px;
}
